
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/Login">Login</a></li>
            <li><a href="/Home/CheckboxesTest">Groups</a></li>
        </ul>
    </div>
    <div><span>Hello, username</span></div>
    <div>
        <p>Sie Heil!</p>
    </div>

</body>
</html>